/*-----------------------
 START CONFIGURATION
 ------------------------*/

html,
body {
    height: 100%;
    margin: 0;
    max-width: 100%;
    background-color: #191A19;
}
/* ---------
FOOTER
 -----------*/

.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
    background-color: #191A19;
}
#footer,
.push {
    height: 50px;
}

/* ---------
NAVBAR
----------- */

.text-custom {
  color: #4E9F3D; /* Change this to your desired color */
}

.bg-custom {
  background-color: #191A19; /* Change this to your desired color */
}

/* ---------
GRID CARD EXPAND
 ---------- */

.card {
  border: none;
}

.card:hover {
  box-shadow: 0px 0px 10px #888;
  cursor: pointer;
}

.card-img-top {
  height: 250px;
  object-fit: cover;
}


/* char card modal */


.card-item:hover .card {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

/* Popup modal */
.modal-dialog {
  position: relative;
  display: flex;
  align-items: center;
}

.modal-dialog .modal-content {
  margin: auto;
}

/* episode_list row */

.episodes_row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align:center;
  --bs-gutter-x: -30rem;

}

.col-md-2 {
  flex-basis: 33.33%;
  padding: 10px;
}

.episode-card {
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  display: inline-block;
}

.episode-card a {
  text-decoration: none;
  color:azure;
}

.episode-card:hover {
  background-color: #ddd;
  color: #191A19;
}

.episode-card a:hover {
    color: #191A19;
}

.episode_num {
    font-size: larger;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align:center;
    --bs-gutter-x: 1rem;
}