{% extends 'base.html' %}
{% load static %}

<!-- Navbar content -->
{% block navbar-content %}
    <a href="{% url 'home' %}">
        <i style="color:yellowgreen;" class="fas fa-user-alt"></i>&nbsp;&nbsp; Character List
    </a>
{% endblock navbar-content %}




{% block content %}
  <h1 style="color:azure;text-align: center;margin-bottom: 100px;">Episode List</h1>
    <div class="episodes_row">
      {% for episode in episodes %}
        <div class="col-md-2">
          <div class="episode-card">
            <a href="{% url 'episode_detail' episode.id %}">{{ episode.name }}</a>
          </div>
        </div>
      {% endfor %}
    </div>
{% endblock %}